/*colors*/
:root {
  --blue: #45b5ff;
  --pink: #d63abf;
  --lightgreen: #edffc4;
  --lightpink: #ffd6fc;
  --lightblue: #a4d6de;
  --darkblue:  #1173cf;
}

body {
   font-family: "Yantramanav", Arial, Helvetica, sans-serif;
}

.App {
  position: absolute;
  top: 0;
}

.page {
  text-align: left;
  position: absolute;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}

.navbar {
  background-color: var(--lightgreen);
  height: 15%;
}

.editItemBtn {
  background-color:  var(--lightgreen);
  border: 2px solid #eee;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10vh;
  background: white;
  padding-bottom: 1em;
}

.logo-header {
  margin-bottom: 1em;
}

.logo {
  margin: .5em;
  width: 3em;
  height: 3em;
}

.logo-text {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: var(--pink);
  text-align: center;
}

.logo-close {
  margin-top: .5em;
  margin-right: .5em;
}




.App-link {
  color: #61dafb;
}

