.App {
  position: absolute;
  top: 10vh;
  height: 100vh;
  width: 100%;
}

.page {
  text-align: left;
  position: absolute;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10vh;
  background: white;
  padding-bottom: 1em;
}

.logo-header {
  height: 10vh;
  margin-bottom: 1em;
  background-color: #edffc4;
}

.logo {
  margin: .5em;
  width: 3em;
  height: 3em;
}

.logo-text {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: #fa46ee;
  text-align: center;
}

.logo-close {
  margin-top: .5em;
  margin-right: .5em;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

