 /* To change search box element look */

.autocomplete {

}

.multiselect-container {
  width: 100%;
}

#ac_input {
  width: 100%;
  font-size: 12px;
}


.searchBox {
  border: none;
  min-height: 1.5rem;
}
  /* // To change input field position or margin */
.inputField { 
   margin: 5px;
  }

/* // To change css chips(Selected options) */
.chips { 
  background: red;
  }

/*// To change css for option container */
.optionContainer { 
  border: 2px solid blue;
  background-color: #edffc4;
  padding-left: 10px !important;
  font-size: smaller;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*// To change css for dropdown options*/
.option { 
  color: black;
  padding: 0 !important;
}

 /* To chanage group heading style */
.groupHeading { 
  }
