 .list-container {
  padding-bottom: 50px;
 }

.friends-container {
 
}

.friends-group {
  padding: 0;
}



.accordion-button {
  font-family: 'Fredericka the Great';
  padding: .3rem;
  padding-left: 0;
  color: var(--darkblue);
  font-weight: bolder;
  font-size: 1.2rem;
}

.accordion-button.collapsed{
  color: var(--darkblue)
}

.accordion-button:not(.collapsed) {
  background-color: white;
  color: var(--pink);
}


.accordion-body {
  padding-top: 0;
  padding-left: .3rem;
  padding-bottom: 0;
  padding-right: 0;
}





/*.catline {
  color: #fa46ee;
  font-weight: bolder;
  margin-top: 0;
}
*/
.listitem {
 display: inline-block;
 padding-bottom: 6px;
 font-size: 1rem;
}

.parent {
  color: var(--pink);
  font-weight: bold;
}


.parent::after {
  content: "...";
}

.friend {
  font-weight: normal;
}

.goodfriend {
  font-weight: bold;
}

.bestfriend {
  font-weight: bold;
}
.bestfriend::after { 
  content: "*";
}

.bff {
  font-weight: bold; 
}
 .bff::after { 
  content: "**";
}

.enemy {
   text-decoration: line-through;
   text-decoration-color: darkred;

}

.ingred {
  font-color: var(--darkblue);
}

.btn-row {
  padding-top: 10px;
}







@media only screen and (max-width: 375px) {

  .friends-group {
    column-count: 1;
  }
  .listitem {
    line-height: .7em;
  }

  .accordion-button {
    font-size: 1rem;
  }

}


@media only screen and (min-width: 376px) {
  #collapse12 .friends-group {
    column-count: 2;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 376px) and (max-width: 600px) {
  .friends-group {
    column-count: 2;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .friends-group {
    column-count: 2;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  .friends-group {
    column-count: 3;
  }
}

@media only screen and (min-width: 801px) {
  .friends-group {
    column-count: 6;
  }
}